@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

html {
	background-color: black;
	color: black;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.chatTerminalWrapper {
	display: flex;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	height: 500px;
 background-color: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.4)
}
ul#messages {
	list-style-type: none;
}

.loggedUsers {
		display: flex;
	width: 30%;
	margin-right: 10%;
	height: 500px;
 background-color: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.4);
}
ul#users {
	list-style: none;
}

.terminalWrapper {
	display: flex;
	width: 100%;
}
.chat_logo {
	  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
	color: green;
	font-size: 3em;
}


/*#chatroom {

}
*/
.hidden {
	display:none;
}