@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

html {
	background-color: black;
	color: black;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.chatTerminalWrapper {
	display: flex;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	height: 500px;
	background-color: lightgrey;
	color: black;
}

.chat_logo {
	  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
	color: green;
	font-size: 3em;
}


/*#chatroom {

}
*/
.hidden {
	display:none;
}