html {
	background-color: black;
	color: white;
	text-align: center;
}

.chatTerminalWrapper {
	display: flex;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	height: 500px;
	background-color: lightgrey
}